@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
    $(document).ready(() => {
        var connection = new signalR.HubConnectionBuilder()
                                    .configureLogging(signalR.LogLevel.Debug)
                                    .withAutomaticReconnect([1000,3000,5000,7000])
                                    .withUrl("http://localhost:5253/MyHub").build();
        statusShow();
        start();
        //functions
        function statusShow(){
            $("#conStatus").text(connection.state);
        }
        
        function start(){
            connection.start().then(() => {
               statusShow();
               $("#loading").hide();
               
               //connection.invoke("GetNames");
               
               connection.invoke("GetNamesByGroup");
               
            }).catch((err) => {
                console.log(err);
                setTimeout(() => start(),2000);
            });
        }
        
        //Clicks
        $("#btnNameSave").click(() => {
           connection.invoke("SendName",$("#txtName").val()).catch((err) => console.log(err));
        });
        
        $("#btnNameTeam").click(() => {
            let name = $("#txtName").val();
            let teamName = $("input[type=radio]:checked").val();
            if (teamName == null) {
                alert("Takım seçiniz");
                return;
            }
            connection.invoke("SendNameByGroup", name, teamName).catch((err) => {
                console.log(err);
            })
        });
        
        $("input[type=radio]").change(() => {
            let value = $(`input[type=radio]:checked`).val();
            if (value == "Team A") {
                connection.invoke("AddToGroup", value);
                connection.invoke("RemoveToGroup", "Team B");
            }
            else {
                connection.invoke("AddToGroup", value);
                connection.invoke("RemoveToGroup", "Team A");
            }
        });
        
        //Subscribes
        connection.on("ReceiveName",(name) => {
           $("#namesList").append(`<li class="list-group-item">${name}</li>`);
        });
        
        connection.on("ReceiveNames",(names) => {
             $("#namesList").empty();
             
             names.forEach((item, index) => {
                 $("#namesList").append(`<li class="list-group-item">${item}</li>`);
              })
        });
        
        connection.on("ReceiveMessageByGroup", (name, teamId) => {
            console.log(name);
            console.log(teamId);
            let listName;
            if (teamId == 1)
                listName = "ATeamList";
            else
                listName = "BTeamList";
            $(`#${listName}`).append(`<li class="list-group-item">${name} </li>`)
        });
        
        connection.on("ReceiveNamesByGroup", (teams) => {
            console.log(teams);
            teams.forEach((team, index) => {
                let listName;
                if (team.teamId == 1)
                    listName = "ATeamList";
                else
                    listName = "BTeamList";
                team.users.forEach((user, index2) => {
                    $(`#${listName}`).append(`<li class="list-group-item">${user.name} </li>`)
                })
            })
        });
        
        connection.on("ReceiveClientCount",(clientCount) => {
           $("#clientCount").text(clientCount);
        });
        
        connection.on("Notify",(countText) => {
           $("#notify").html(`<div class="alert alert-success">${countText}</div>`);
        });
        
        connection.on("Error",(errorText) => {
            alert(errorText);    
        });
        
        connection.onreconnecting(err => {
            $("#loading").show();
            statusShow();
            console.error("onreconnecting:" + err);
        });
        
        connection.onreconnected(connectionId => {
            $("#loading").hide();
            statusShow();
            console.log("connectionId:" + connectionId);
        });
        
        connection.onclose(() => {
             $("#loading").hide();
             statusShow();
             start();
        });
    });
    
    </script>

} 

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName"/>
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsmi Kaydet</button>
        <button class="btn btn-warning" id="btnNameTeam">İsim Kaydet(Takım)</button>
        
        <div class="alert alert-info mt-2">
            <div class="float-left">
                Bağlantı Durumu: <strong id="conStatus"></strong>
                ,Client Sayısı: <strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="notify"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="TeamGroup" value="Team A" />
            <label class="form-check-label">A Takımı</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="TeamGroup" value="Team B" />
            <label class="form-check-label">B Takımı</label>
        </div>
    </div>

    <div class="col-md-8 offset-2">
        <div class="row">

            <div class="col-md-6">
                <h2>A Takımı</h2>
                <ul class="list-group" id="ATeamList"></ul>
            </div>
            <div class="col-md-6">
                <h2>B Takımı</h2>
                <ul class="list-group" id="BTeamList"></ul>
            </div>
        </div>
    </div>
</div>

